@font-face {
  font-family: 'IaWriter Mono';
  src: url('..public/fonts/ia-writer-mono.woff2') format('woff2'),
      url('..public/fonts/ia-writer-mono.woff') format('woff');
  /* Add more src formats if available */
  /* Specify font-weight and font-style if necessary */
}

body {
  background-color: #06090f;
  font-family: 'iA Writer Mono', monospace; /* Use iA Writer Mono font */
  color: #c8cacc;
  line-height: 1.6;
  padding: 20px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: center;   
  gap: 50px;           
}
.menu {
  flex: 0 0 auto;
    
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;  
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;   
}
.footerText {
  display: flex;    
  flex-grow: 1;
}
.social {  
  display: flex;  
  gap: 10px;
  
}
/* Content styles */

.content a {
  color: #3fb0ac;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.content a:hover {
  color: #abd4d3;
}
.content h1,h2,h3,h4,strong {
  color: #3fb0ac;
}

/* Menu styles */

summary.accordion-header {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 0px; /* Separate menu items */
  transition: transform 0.3s ease;
}

.menu a {
  color: #3fb0ac; /* Adjusted menu item color */
  text-decoration: none;
  padding-left: 1em; /* Increased padding */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block; /* Make menu items block level */
}
.menu a:hover {
  color: #39d3ce; /* Adjusted menu item color */
  text-decoration: none;  
}

/* Mobile Menu */

.menuMobile {
  display: flex;
  justify-content:space-between;   
  cursor: pointer;
  margin-bottom: 1em;
}
.menuMobile a {
  padding-left: 1em; 
  text-decoration: none;
}

/* Logo */
.logo h1 { 
  margin: 0 0 1em 0; 
}

.logo a { 
  padding: inherit; 
}

/* Additional styles */
img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set height */
  background-color: #3fb0ac39; /* Set background color */
  margin: 20px 0; /* Adjust margin as needed */
}

/* Responsive, Toggle Menu / MenuMobile */

/* Image Container that I use in .mdx files for "gallery" */

.sidewayContainer {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

/* screen */
@media screen and (min-width: 636px) {
 
  .menu {
    display: inline;    
  }

  .menuMobile {
    display: none;
    
  }
  .content {    
    width: 62%;
    max-width: 800px;  
  }
}
/* mobile */
@media screen and (max-width: 636px) {
 
  .menu {
    display: none;    
  }

  .menuMobile {
    display: flex;
    
  }
  .content {    
    max-width: 100%;  
  } 
}