@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IaWriter Mono';
  src: url('..public/fonts/ia-writer-mono.woff2') format('woff2'),
      url('..public/fonts/ia-writer-mono.woff') format('woff');
  /* Add more src formats if available */
  /* Specify font-weight and font-style if necessary */
}

/*--------------------------------------*/
/*               Main                   */
/*--------------------------------------*/
a:hover {
  color: #3fb0ac;
}

body {
  background-color: #06090f;
  background-image: url("/images/bg2.jpg");
  background-repeat: no-repeat;  
  background-size: cover; /* or use "contain" based on your requirement */
  background-position: center; /* optional: centers the image */
  font-family: 'iA Writer Mono', monospace; /* Use iA Writer Mono font */
  font-size: 1em;
  color: #c8cacc;
  line-height: 1.6;  
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;    
  margin-top:20px;    
  margin-left: auto;
  margin-right: auto;
}

.item {
  flex:  30%; 
  min-width: 300px;   
  margin: 5px; 
  border-radius: 20px;
  padding: 25px;
  background-color: #3fb0ac0e;
  backdrop-filter: blur(5px);
}

/*--------------------------------------*/
/*           Content styles             */
/*--------------------------------------*/

.content a {
  color: #3fb0ac;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.content a:hover {
  color: #abd4d3;
}
.content h1,h2,h3,h4,strong {
  color: #3fb0ac;
}
.content ul {
  list-style-type: circle;
}

/*--------------------------------------*/
/*               Menu                   */
/*--------------------------------------*/

summary.accordion-header {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 0px; /* Separate menu items */
  transition: transform 0.3s ease;
}

.menu a {
  color: #3fb0ac; /* Adjusted menu item color */
  text-decoration: none;
  padding-left: 1em; /* Increased padding */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block; /* Make menu items block level */
}
.menu a:hover {
  color: #39d3ce; /* Adjusted menu item color */
  text-decoration: none;  
}



/*--------------------------------------*/
/*         Additional Styles            */
/*--------------------------------------*/
img {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}
hr {
  border: none; /* Remove default border */
  height: 2px; /* Set height */
  background-color: #3fb0ac39; /* Set background color */
  margin: 2em 0em; /* Adjust margin as needed */
}

/* Checkbox styles */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 0.9em; /* Adjust size */
  height: 0.9em; /* Adjust size */
  border: 2px solid #3fb0ac; /* Checkbox border color */
  border-radius: 3px; /* Rounded corners */
  background-color: transparent; /* Transparent background */
  cursor: pointer;
  outline: none; /* Remove default focus outline */
  vertical-align: middle;
}
/* Checkbox checked styles */
input[type="checkbox"]:checked {
  background-color: #3fb0ac; /* Checkbox checked color */
}
/* [ ] and [x] from MD */

ul.contains-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 1em;
}

/* Image Container that I use in .mdx files for "gallery" */
.grid {
  display: grid;
  grid-template-columns: 50% 50%; 
  margin: 0em 0em 0em 0em;
  padding:0px; 
 
}

/*--------------------------------------*/
/*             Animation                */
/*--------------------------------------*/

.content img, lite-youtube {  
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 500px;
}

@keyframes fade-in {
  from {scale: .85; opacity: 0;}
  to {scale: 1; opacity: 1;}
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

