@font-face {
  font-family: 'IaWriter Mono';
  src: url('..public/fonts/ia-writer-mono.woff2') format('woff2'),
      url('..public/fonts/ia-writer-mono.woff') format('woff');
  /* Add more src formats if available */
  /* Specify font-weight and font-style if necessary */
}
body {
  background-color: #06090f;
  font-family: 'iA Writer Mono', monospace; /* Use iA Writer Mono font */
  color: #c8cacc;
  line-height: 1.6;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center;
  flex: 1;   
  gap: 50px;          
}
.menu {
  flex: 0 0 auto;
       
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  
}
.footer {
  display: flex;
  justify-content: center;
}

/* Menu styles */

summary.accordion-header {
  cursor: pointer;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 0px; /* Separate menu items */
  transition: transform 0.3s ease;
}

.menu a {
  color: #3fb0ac; /* Adjusted menu item color */
  text-decoration: none;
  padding-left: 1em; /* Increased padding */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: block; /* Make menu items block level */
}

.menu ul li a:hover {
  background-color: #1c2733;
  transform: scale(1.05); /* Slightly increased scale on hover */
}

/* Content styles */
.content {
  flex: 1; /* Take remaining space */
  background-color: #141b29;
  padding: 0em 2em 0em 2em;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content a {
  color: #3fb0ac;
  text-decoration: none;
  transition: color 0.3s ease;
}
.content a:hover {
  color: #71c9c5;
}