---
import WrapperLayout from '../layouts/WrapperLayout.astro';
import Menu from '../components/Menu.astro';
import MailChimp from '../components/MailChimp.astro';
import SwiperProjects from '../components/SwiperProjects.astro';
const pageTitle = "- Home Page";

import {Content as PromoBanner} from '../pages/posts/about-me/skills.mdx';

---

<WrapperLayout pageTitle={pageTitle}>

    <div class="small-screen"> 
        <div class="container">  
            <div class="item item p-0 sm:p-5 flex justify-center items-center"> 
                <img src="/icons/of.png" alt="Discord Icon" class="logo-small min-w-[95px] max-w-[95px] invert mr-5 pl-4 opacity-90"/>
                <div class="item2 flex-1 pl-2">                     
                    <h1 class="text-3xl font-bold text-white">Optical Frameworks</h1>   
                    <div class="text-sm">reverse-engineering the universe </div>                               
                </div>
            </div>
        </div>
    </div>

    <div class="larger-than-small-screen">  
        <div class="container">  
            <div class="item item p-5 sm:p-10 flex items-center justify-between">
                <div class="tw-item flex-1">                     
                    <h1 class="text-4xl font-bold mb-4 text-white">Optical Frameworks</h1>   
                    reverse-engineering the universe                                
                </div>

                <div class="tw-item flex-1 ml-20 mr-5">
                    <img src="/icons/of.png" alt="Discord Icon" class="object-contain min-w-[120px] max-w-[180px] invert opacity-90"/>
                </div>

                    <div class="names max-w-[300px] ">
                    Optical Frameworks is an interdisciplinary project that merges the worlds of art, science, and technology.
                    </div>                
            </div>  
        </div> 
    </div> 

    <div class="container">  

        <!-- Item 1 -->
        <div class="item p-5 sm:p-10">
            <MailChimp />
        </div>  

        <!-- Item 2 -->        
        <div class="item p-5 sm:p-10">
            Projects
            <SwiperProjects />      
        </div>        
        
        <!-- Item 3 -->
        <div class="item p-5 sm:p-10">
            <div class="menu">
                <PromoBanner/>
            </div>    
        </div>   
        
    </div> 


</WrapperLayout>

<style>
    .item {
        flex:  30%; 
        min-width: 350px;          
        margin: 5px;
        border-radius: 20px;
        word-wrap: break-word; /* For legacy support */
        overflow-wrap: break-word; /* Modern support */
        white-space: normal;
        background-color: #3fb0ac0e;
        backdrop-filter: blur(5px);
    }

    /*--------------------------------------*/
    /*          Mobile Container            */
    /*--------------------------------------*/

    @media (max-width: 800px) {   
        .small-screen {      
            display:block;
        }
        .container .item:nth-child(2) {
            order: -1; /* Moves the second item to the first position */
        }
        .larger-than-small-screen {      
            display: none;
        }
    }
    @media (min-width: 800px) {    
        .small-screen {      
            display:none;
        }
        .larger-than-small-screen {      
            display: block;
        }
    }
</style>
