<div id="mc_embed_shell">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <div id="mc_embed_signup">
        <form action="https://opticalframeworks.us17.list-manage.com/subscribe/post?u=e3c52e8a81faba7b4d1a7e917&amp;id=a6e9dda7e4&amp;f_id=00e5c2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscription-form" target="_blank">
            <div id="mc_embed_signup_scroll">
                <h2 class="text-xl font-bold mb-4 text-white">Never miss a project!</h2>
                <div class="mb-4 mc-field-group">
                    <label class="block text-white mb-2" for="mce-EMAIL">Email Address</label>
                    <input type="email" name="EMAIL" class="required email w-full px-3 py-2 text-white bg-transparent border border-white rounded-full" id="mce-EMAIL" required="" value="">
                </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                </div>
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_e3c52e8a81faba7b4d1a7e917_a6e9dda7e4" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="subscribe w-full m-0 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" value="Subscribe" style="margin: 0;">
                        <p style="margin: 0px auto;">
                            <a href="http://eepurl.com/iQj2qI" title="Mailchimp - email marketing made easy and fun"></a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>                
</div>
<hr>
By subscribing you will get e-mail notifications to keep up with my new projects. :)

<!-- Mailchimp start! -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>

<style>
    /*--------------------------------------*/
    /*              Mailchimp               */
    /*--------------------------------------*/
    .subscribe {
        background-color: rgba(63, 176, 172, 0.5); 
        cursor: pointer;
        
    }
    .subscribe:hover {
        background-color: rgba(63, 176, 172, 0.7); /* Change the opacity or color as needed */
    }
    #mc_embed_signup #mce-success-response {
        font-size: 12px;
        color: aliceblue;
        display: flex;
    }
    #mc_embed_signup div.response {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
    }
    #mc_embed_signup div#mce-responses {
        padding: 0;
        padding-bottom: 10px;
        margin: 0;
        margin-top: -5px;
    }
    #mc_embed_signup form {
        margin: 0;
    }
    #mc_embed_signup .foot {
        display: flex;
      
        width: 100%;
        align-items: center;
    }
    #mc_embed_signup input {
        width: 100%;
    }
    #mc_embed_signup .mc-field-group {
        width: 100%;
    }
    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
        display: inline-block;
        margin: 2px 0 1em 0;
        padding: 3px;
        background-color: rgb(11 36 115 / 85%);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        font-weight: normal;
        z-index: 1;
        color: #fffcfc;
    }
</style>