<div class="accordion" transition:persist><details class="accordion-item">
                            <summary class="accordion-header">
                                cat1
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/cat1/arduino/" class="accordion-link">arduino</a>
                        </div><div class="accordion-item">
                            <a href="/posts/cat1/cnc/" class="accordion-link">cnc</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                cat2
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/cat2/portfolioRemarks/" class="accordion-link">portfolioRemarks</a>
                        </div><div class="accordion-item">
                            <a href="/posts/cat2/primers/" class="accordion-link">primers</a>
                        </div><div class="accordion-item">
                            <a href="/posts/cat2/trenink/" class="accordion-link">trenink</a>
                        </div></div>
                            </div>
                        </details></div>