<div class="accordion" transition:persist><details class="accordion-item">
                            <summary class="accordion-header">
                                art
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/art/arduino/" class="accordion-link">arduino</a>
                        </div><div class="accordion-item">
                            <a href="/posts/art/cnc/" class="accordion-link">cnc</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                biology
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/biology/portfolioRemarks/" class="accordion-link">portfolioRemarks</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/primers/" class="accordion-link">primers</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/trenink/" class="accordion-link">trenink</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                engineering
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/engineering/EQ6RTuning/" class="accordion-link">EQ6RTuning</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/protocolAgarPlates/" class="accordion-link">protocolAgarPlates</a>
                        </div></div>
                            </div>
                        </details></div>