<div class="accordion" transition:persist><details class="accordion-item" open>
                            <summary class="accordion-header">
                                about-me
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/about-me/goals-&-projets/" class="accordion-link">goals-&-projets</a>
                        </div><div class="accordion-item">
                            <a href="/posts/about-me/personal-philosophy/" class="accordion-link">personal-philosophy</a>
                        </div><div class="accordion-item">
                            <a href="/posts/about-me/skills/" class="accordion-link">skills</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item" open>
                            <summary class="accordion-header">
                                audiovisual
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/audiovisual/3D-animation/" class="accordion-link">3D-animation</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/dataviz/" class="accordion-link">dataviz</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/fpv/" class="accordion-link">fpv</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/landscape/" class="accordion-link">landscape</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/music/" class="accordion-link">music</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/video/" class="accordion-link">video</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item" open>
                            <summary class="accordion-header">
                                biology
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/biology/agar-log/" class="accordion-link">agar-log</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/laboratory/" class="accordion-link">laboratory</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/microscopy/" class="accordion-link">microscopy</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/molecular-vis/" class="accordion-link">molecular-vis</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item" open>
                            <summary class="accordion-header">
                                engineering
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/engineering/chemistry/" class="accordion-link">chemistry</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/electrophoresis/" class="accordion-link">electrophoresis</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/fume-hood/" class="accordion-link">fume-hood</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/laminar-flow-hood/" class="accordion-link">laminar-flow-hood</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/mechatronics/" class="accordion-link">mechatronics</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/thermocycler/" class="accordion-link">thermocycler</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/woodwork/" class="accordion-link">woodwork</a>
                        </div></div>
                            </div>
                        </details></div>