<div class="accordion" transition:persist><details class="accordion-item">
                            <summary class="accordion-header">
                                art
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/art/microscopy/" class="accordion-link">microscopy</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                biology
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/biology/agar_log/" class="accordion-link">agar_log</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/portfolioRemarks/" class="accordion-link">portfolioRemarks</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/trenink/" class="accordion-link">trenink</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                engineering
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/engineering/thermocycler/" class="accordion-link">thermocycler</a>
                        </div></div>
                            </div>
                        </details></div>