<div class="accordion" transition:persist><details class="accordion-item">
                            <summary class="accordion-header">
                                about-me
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/about-me/goals-&-projets/" class="accordion-link">goals-&-projets</a>
                        </div><div class="accordion-item">
                            <a href="/posts/about-me/personal-philosophy/" class="accordion-link">personal-philosophy</a>
                        </div><div class="accordion-item">
                            <a href="/posts/about-me/skills/" class="accordion-link">skills</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                audiovisual
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/audiovisual/landscape/" class="accordion-link">landscape</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/microscopy/" class="accordion-link">microscopy</a>
                        </div><div class="accordion-item">
                            <a href="/posts/audiovisual/music/" class="accordion-link">music</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                biology
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/biology/agar-log/" class="accordion-link">agar-log</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/molecular-vis/" class="accordion-link">molecular-vis</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/primers/" class="accordion-link">primers</a>
                        </div><div class="accordion-item">
                            <a href="/posts/biology/trenink/" class="accordion-link">trenink</a>
                        </div></div>
                            </div>
                        </details><details class="accordion-item">
                            <summary class="accordion-header">
                                engineering
                            </summary>
                            <div class="accordion-body">
                                <div class="accordion" transition:persist><div class="accordion-item">
                            <a href="/posts/engineering/fume-hood/" class="accordion-link">fume-hood</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/laminar-flow-hood/" class="accordion-link">laminar-flow-hood</a>
                        </div><div class="accordion-item">
                            <a href="/posts/engineering/thermocycler/" class="accordion-link">thermocycler</a>
                        </div></div>
                            </div>
                        </details></div>