---
const allPosts = await Astro.glob('../pages/posts/**/*.md');
---
<nav>
    {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
</nav>

<details class="accordion-item" transition:persist>
    <summary class="accordion-header">Category 1</summary>
    <div class="accordion-body">
        Cat 1
    </div>
</details>