<div class="navbar">
    <div class="links">
      
      <a href="/#">HOME</a>
      <a href="/portfolio">PROJECTS</a>
      <a href="/portfolio">PORTFOLIO</a>

    </div>  
    <div class="nav-items">

      <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
        <button>
          <img src="/icons/discordSmall.png" alt="Instagram" class="w-8 h-8 invert">
        </button>
      </a>
      
        <button class="icon-button">
          <img src="/icons/instagramSmall.png" alt="Instagram" class="w-8 h-8 invert">
        </button>
      </a>  
      <button>
        <img src="/icons/youtubeSmall.png" alt="Instagram" class="w-8 h-8 invert">
      </button>
    </div>
</div>

<style>

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #333;
    color: white;
    background-color:  #3fb0ac12;
    backdrop-filter: blur(5px);
    border-bottom: dashed;
    border-color: rgba(240, 248, 255, 0.482);
}

.links {
  display: flex;
  margin-right: 80px;
  gap: 50px;
}
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
</style>