<div class="fixed w-full z-50">
  <div class="navbar flex items-center justify-between p-5 border-b-2 border-dashed backdrop-blur-md">

    <div class="nav-menu flex flex-wrap pl-0 sm:pl-2 gap-4 sm:gap-10">      
      <a href="/#">HOME</a>
      <!-- <a href="/projects">PROJECTS</a> -->
      <a href="/portfolio">PORTFOLIO</a>
      <a href="/professional-portfolio">PROFESSIONAL</a>
    </div>  
    
    <div class="nav-social flex flex-wrap justify-end items-center gap-1 sm:gap-5">
       
        <a href="https://discordapp.com/users/%20581906893593772043" target="_blank" rel="noopener noreferrer">
            <button>
            <img src="/icons/discordSmall.png" alt="Instagram" class="w-8 h-8 invert">
            </button>
        </a>
        <!-- <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
            <button class="icon-button">
            <img src="/icons/instagramSmall.png" alt="Instagram" class="w-8 h-8 invert">
            </button>
        </a>  -->
            <a href="https://www.youtube.com/@MartinDlabaja" target="_blank" rel="noopener noreferrer">
            <button>
            <img src="/icons/youtubeSmall.png" alt="Instagram" class="w-8 h-8 invert">
            </button>
        </a> 
    </div>
   
  </div>
  
</div>

<!-- INVISIBLE DUPLICATE (this one is here because fixed of visible menu takes it out of flow of divs) -->
<div class="invisible navbar z-50 flex items-center justify-between p-5 border-b-2 border-dashed backdrop-blur-md">

  <div class="nav-menu flex flex-wrap pl-0 sm:pl-2 gap-4 sm:gap-10">      
    <a href="/#">HOME</a>
    <!-- <a href="/posts-projects/solar-system/">PROJECTS</a> -->
    <a href="/portfolio">PORTFOLIO</a>
    <!-- <a href="/professional-portfolio">PROFESSIONAL</a> -->
  </div>  
  
  <div class="nav-social flex flex-wrap justify-end items-center gap-1 sm:gap-5">
     
      <a href="https://discordapp.com/users/%20581906893593772043" target="_blank" rel="noopener noreferrer">
          <button>
          <img src="/icons/discordSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a>
      <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
          <button class="icon-button">
          <img src="/icons/instagramSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a> 
          <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
          <button>
          <img src="/icons/youtubeSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a> 
  </div>
 
</div>