<div class="navbar flex items-center justify-between p-5 border-b-2 border-dashed">

  <div class="nav-menu flex flex-wrap gap-4 sm:gap-10">      
    <a href="/#">HOME</a>
    <a href="/projects">PROJECTS</a>
    <a href="/portfolio">PORTFOLIO</a>
  </div>  

  <div class="nav-socia text-right flex gap-1 sm:gap-5">
      <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
          <button>
          <img src="/icons/discordSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a>
      <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
          <button class="icon-button">
          <img src="/icons/instagramSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a> 
          <a href="https://discord.gg/xugGPASq" target="_blank" rel="noopener noreferrer">
          <button>
          <img src="/icons/youtubeSmall.png" alt="Instagram" class="w-8 h-8 invert">
          </button>
      </a> 
  </div>
 
</div>

<style>
.navbar {
    background-color:  #3fb0ac12;
    backdrop-filter: blur(5px);
    border-color: #ffffffbf;
}
</style>