---

---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="social">
    <a href="https://www.facebook.com/profile.php?id=100010101132445" class="fa fa-facebook"></a>
    <a href="https://soundcloud.com/opticalframeworks" class="fa fa-soundcloud"></a>
    <a href="mailto:martin.dlabaja@gmail.com" class="fa fa-google"></a>
    <a href="https://www.youtube.com/channel/UCnsmjA71XVChL7NF7oy4Yag#" class="fa fa-youtube"></a>
    <a href="https://www.instagram.com/universeisdarkforest/" class="fa fa-instagram"></a>
</div>

<style>
.fa { 
  font-size: 14px;  
  color:rgb(246, 241, 230);  
  text-decoration: none; 
}    
.fa:hover {
    opacity: 0.7;
} 
</style>