---
// guide to flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/
// lightbox future refactor: https://code.juliancataldo.com/component/astro-lightbox/#doc
// cool gallery https://github.com/Charca/astro-photo-gallery

import '../styles/global.css';
import Menu from '../components/Menu.astro';
import { ViewTransitions } from 'astro:transitions';
const { pageTitle } = Astro.props;
const siteName = 'Martin ';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteName + pageTitle}</title>
    <ViewTransitions />    
  </head>
  <body>   
    <div class="container">

      <div class="menu">
      <Menu />      
      </div>

      <div class="content">
        <slot />   
      </div>      

    </div>     
  </body>
</html>