---
import PortfolioLayout from './PortfolioLayout.astro';
const { frontmatter } = Astro.props;
import Lightbox from '@julian_cataldo/astro-lightbox/LightBox.astro';
const { pageTitle } = Astro.props;
---
<Lightbox />

<PortfolioLayout pageTitle={'- '+frontmatter.title}>  
  <div class="postTitle"><h1>{frontmatter.title}</h1></div>
  <i>{frontmatter.pubDate.slice(0,10)} Written by {frontmatter.author}</i>  
  <p><em>{frontmatter.description}</em></p>
  <slot />  
</PortfolioLayout>

<style>
  .postTitle h1 { margin: 0em 0em 1em}
</style>

