---
import PortfolioLayout from './PortfolioLayout.astro';
const { frontmatter } = Astro.props;
import Lightbox from '@julian_cataldo/astro-lightbox/LightBox.astro';
const { pageTitle } = Astro.props;
---
<Lightbox />

<PortfolioLayout pageTitle={'- '+frontmatter.title}>  
  <div class="postTitle"><h1>{frontmatter.title}</h1></div>
  <i>{frontmatter.pubDate.slice(0,10)} Written by {frontmatter.author}</i>  
  <p><em>{frontmatter.description}</em></p>
  <slot />  
  
</PortfolioLayout>

<!-- Back to the top button start -->
<button id="backToTop" class="fixed bottom-0 w-full p-0 flex justify-center mb-2">
  <img src="/icons/go-up.png" class=" max-w-[30px] invert opacity-50"/>
</button>
<script>
  // Get the button
  var mybutton = document.getElementById("backToTop");

  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      if (mybutton) mybutton.style.display = "flex";
    } else {
      if (mybutton) mybutton.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  if (mybutton) {
    mybutton.onclick = function() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  }
</script>
<!-- Back to the top button end -->

<style>
  .postTitle h1 { margin: 0em 0em 1em}

</style>

