---
import WrapperLayout from './WrapperLayout.astro';
import Menu from '../components/Menu.astro';
const { pageTitle } = Astro.props;
const siteName = 'Martin ';
---

<WrapperLayout pageTitle={pageTitle}>
   
      <!-- Horizontal Container -->
      <div class="container flex-1">      
        
        <div class="menu ml-2 pl-5 sm:p-10">
          <!-- <div class="logo" transition:animate="slide"><a href="/">PORTFOLIO</a></div>       -->
          <Menu />      
        </div>

        <div class="content">
          <div class="item p-5 sm:p-10">
            <slot />  
          </div>    

        </div>   
        
        <div class="filler"></div>

      </div>
      
</WrapperLayout>

<style>
.menu {
  flex: 1; 
  min-width: 200px;

}
.content {
  flex: 4;
}
.filler {
  flex:1;
  width: 200px;
}
.content a {
  color: #3fb0ac;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.content a:hover {
  color: #abd4d3;
}
.content h1,h2,h3,h4,strong {
  color: #3fb0ac;
}
.content ul {
  list-style-type: circle;
}


@media (max-width: 1200px) {
    .filler {      
      width: 0px;
    }
    .container {      
      flex-direction: column;
    }
}
</style>

<style is:global>
  lite-youtube {
      max-width: 100% !important; /* Ensures it overrides any other max-width settings */
  }
  lite-youtube > iframe {
      all: unset !important;
      width: 100% !important;
      height: 100% !important;
      position: absolute !important;
      inset: 0 !important;
      border: 0 !important;
  }
</style>
