---
// ---------- BASE LAYOUT ---------- 

import WrapperLayout from './WrapperLayout.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';
const { pageTitle } = Astro.props;
const siteName = 'Martin ';
---
<WrapperLayout>

   
      <!-- Horizontal Container -->
      <div class="container flex-1">      
        
        <div class="menu">
          <!-- <div class="logo" transition:animate="slide"><a href="/">PORTFOLIO</a></div>       -->
          <Menu />      
        </div>

        <div class="content">
          <div class="item">
            <slot />  
          </div>            
        </div>   
        
        <div class="filler">
          
        </div>

      </div>     
    
      
</WrapperLayout>

<style>
.item {
  padding-left: 100px;
  padding-right: 100px;
}
</style>